<div class="container main-container align-middle bg-light align-self-center">
  <h1> Billing Information </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> User Name </td>
        <th scope="col"> Subscription Price </td>
        <th scope="col"> Extra Usage Unit Price </td>
        <th scope="col"> Total Amount </td>
        <th scope="col" colspan="3"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= current_user.name %></td>
        <td><%= @bill.plan_price %></td>
        <td><%= @bill.extra_usage_price %></td>
        <td><%= @bill.total_amount %></td>
        <td><%= button_to "Pay Now", checkout_index_path, params: {id: @bill.id},remote: true, class: "btn btn-warning" %></td>
      </tr>
    </tbody>
  </table>
</div>
